# global
**/*.env
.idea
.vscode
**/*.DS_Store

# IoT
.pio
iot/docs/doxygen/html
iot/docs/doxygen/latex
iot/secrets.ini

# api
api/target
api/cobertura.xml
api/tarpaulin-report.html
api/lcov.info
api/tarpaulin-report.json
